/* General container styling for the inventory management page */
.inventory-management-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inventory-management-header {
  text-align: center;
  margin-bottom: 40px;
}

.inventory-management-header h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.inventory-management-header p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

/* Grid layout for the cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Styling for individual action cards */
.action-card {
  display: block;
  text-decoration: none;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: inherit;
  padding: 20px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.action-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card content styling */
.card-content {
  text-align: center;
}

.card-content {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2b2525;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 1rem;
  color: #777;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .inventory-management-header h1 {
    font-size: 2rem;
  }

  .inventory-management-header p {
    font-size: 1rem;
  }
}
